includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 5
  paths:
    - includes
    - admin
  excludePaths:
    - tests
  ignoreErrors:
    - '#Function (wp_.*|add_.*|delete_.*|update_.*|flush_.*|is_wp_error|media_handle_sideload|download_url|wp_remote_.*|wp_next_scheduled|wp_schedule_event|wp_unschedule_event|wp_clear_scheduled_hook) not found#'
    - '#Class WP_.* not found#'
    - '#Property .* is never read, only written#' 