// 常用 mixin

@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin transition($prop: all, $duration: .2s, $func: ease-in-out) {
  transition: $prop $duration $func;
} 